body {
    font-family: Arial, sans-serif;
    background-color: #006666;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.containerHAUT{
    font-style: italic;
    color: #16b6b6;
    font-size: 24px;
}

.containerBAS{
    background-color: white;
    font-size: 80%;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.student-table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}
        
.student-table th, .student-table td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

        .student-table th {
            background-color: #006666;
            color: white;
        }
        .student-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .student-table a {
            color: #006666;
            text-decoration: none;
        }
        .student-table a:hover {
            text-decoration: underline;
        }

        